.background{
    margin: 0 auto;
    background-color: aqua;
}

.background2{
    margin: 0 auto;
    background-color: aquamarine;
}

.background3{
    margin: 0 auto;
    background-color: aliceblue;
}